# Logs
log/
*.log
yarn-debug.log*
yarn-error.log*

# bs
node
nodeBootstrap.sh
yarn
yarn.bat
yarn.ps1

**/*_generated_*
download/
node_modules/
dist/
dist-ssr/
out/
build/
*.local
config/local*
latest.build*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
